* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 96vh;
    position: relative;
    background-color: darkgrey;
}

h1 {
    margin-top: 0.5rem;
    text-align: center;
    font-family: "Liberation Serif", serif;
    color: white;
    text-shadow: black 5px 5px;
}
/*Style menu*/
nav {
    margin-top: 0.5rem;
    background-color: darkred;
    font-size: 1.3rem;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
}

li {
    list-style: none ;
}

li:hover {
    background-color: red;
    padding: 0.5rem;
    border-radius: 5px;
}

nav > ul > li > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/*style intro*/

#intro {
    width: 25rem;
    font-size: 1.5rem;
    margin-left: 13rem;
    margin-top: 5rem;
    font-weight: bold;
}

#portrait {
    float: right;
    margin-right: 15rem;
    width: 15rem;
    margin-top: -5rem;
}